@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dana-bold";
  src: url("/font/dana-fanum/dana-fanum-bold.woff") format("woff"),
    url("/font/dana-fanum/dana-fanum-bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("/font/dana-fanum/dana-fanum-regular.woff") format("woff"),
    url("/font/dana-fanum/dana-fanum-regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "morabba-bold";
  src: url("/font/morabba/woff/Morabba-Bold.woff"), url("/font/morabba/woff2/Morabba-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "morabba";
  src: url("/font/morabba/woff/Morabba-medium.woff"),
    url("/font/morabba/woff2/Morabba-medium.woff2");
  font-weight: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 236 86% 64%;
    --primary-foreground: 236 83% 100%;

    --secondary: 200 8% 32%;
    --secondary-foreground: 200 8% 79%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 1.2%;

    --destructive: 0 94% 66%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /*--white: 0, 0%, 100%; /*whiteColor*/
    /*--black: 220, 8%, 8%; /*blackColor*/
    /*--primary: 236, 86%, 64%; /*primaryColor*/
    /*--light-primary: 236, 86%, 64%, 0.078; /*lightPrimaryColor*/
    /*--light: 210, 17%, 98%; /*lightColor*/
    /*--gray: 222, 8%, 32%; /*grayColor*/
    /*--light-gray: 220, 6%, 38%; /*lightGrayColor*/
    /*--light-gray-2x: 217, 19%, 63%; /*lightGray2xColor*/
    /*--light-gray-3x: 213, 15%, 88%; /*lightGray3xColor*/
    /*--danger: 0, 94%, 66%; /*dangerColor*/
    /*--light-danger: 356, 64%, 96%; /*lightDangerColor*/
    /*--success: 140, 51%, 52%; /*successColor*/
    /*--light-success: 138, 100%, 93%; /*lightSuccessColor*/
    /*--warning: 48, 75%, 52%; /*warningColor*/
    /*--golden: 48, 96%, 53%; /*goldenColor*/
    /*--blue: 199, 88%, 49%; /*blueColor*/
    /*--purple: 236, 86%, 64%; /*purpleColor*/
    /*--light-blue: 195, 86%, 72%; /*lightBlueColor*/
    /*--background: 0, 0%, 0%; /*backgroundColor*/
  }

  body {
    @apply bg-white w-full max-w-full h-screen min-h-screen relative;
    font-family: "dana";
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--purple);
  }

  /* Handle Primary Color */
  ::-webkit-scrollbar-thumb {
    border: 2px solid #f1f1f1;
    background: #888;
    border-radius: 5px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .dana {
    font-family: "dana";
  }

  .dana-bold {
    font-family: "dana-bold";
  }

  .morabba {
    font-family: "morabba";
  }

  .morabba-bold {
    font-family: "morabba-bold";
  }

  .h-current {
    height: calc(100vh - 6.2rem);
  }

  .h-view {
    height: calc(100vh - 5rem);
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .icon {
    @apply h-5 w-5;
  }

  .icon-sm {
    @apply h-4 w-4;
  }

  .icon-lg {
    @apply h-7 w-7;
  }

  .btn-icon-l {
    @apply ml-2;
  }

  .btn-icon-r {
    @apply mr-2;
  }

  .title-sm {
    @apply w-full;
  }

  .title-sm *:first-child {
    @apply morabba-bold text-base sm:text-lg lg:text-xl;
  }

  .title-md {
    @apply w-full;
  }

  .title-md *:first-child {
    @apply morabba-bold text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  .title-lg {
    @apply w-full;
  }

  .title-lg *:first-child {
    @apply morabba-bold text-2xl sm:text-3xl md:text-4xl;
  }
}
